Source: r-cran-minqa
Section: gnu-r
Priority: optional
Maintainer: Dirk Eddelbuettel <edd@debian.org>
Build-Depends: debhelper (>= 7.0.0), r-base-dev (>= 3.1.1), cdbs, r-cran-rcpp (>= 0.11.0)
Standards-Version: 3.9.6

Package: r-cran-minqa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${R:Depends}, r-cran-rcpp (>= 0.11.0)
Description: GNU R package for quadratic optimisation without derivatives
 The minqa package implements derivative-free optimization by
 quadratic approximation based on an interface to Fortran
 implementations by MJD Powell.
